@font-face {
  font-family: 'player';
  src: url('../font/player.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "player";
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

[class="icon-pause"]:before { content: '\e803'; } /* '' */
[class="icon-stop"]:before { content: '\e804'; } /* '' */
[class="icon-play"]:before { content: '\e802'; } /* '' */